.container-prais {
    header {
        color: $textWhite !important;
        margin-bottom: 4rem !important;
    }

    .layout-container {
        display: flex !important;
        flex-wrap: wrap !important;
        max-width: 1400px !important;
        margin: 0 auto !important;
    }

    .sidebar-wrapper {
        transition: all 0.3s ease !important;
    }

    .content-wrapper {
        padding-left: 1.5rem !important;
        transition: all 0.3s ease !important;
        width: 59.8vw !important;
        
        &.full-width {
            width: 100% !important;
            padding-left: 0 !important;
        }
    }

    .header-container {
        display: flex !important;
        flex-wrap: wrap !important;
        margin-bottom: 1rem !important;
    }

    .breadcrumbs-wrapper {
        flex: 1 1 80% !important;
    }

    .info-location-wrapper {
        width: 100% !important;
        margin-top: 1rem !important;
        display: flex !important;
        justify-content: flex-end !important;
    }

    .header-slot-wrapper {
        width: 54.5vw !important;
        margin-top: 1rem !important;
    }
    @media (min-width: $breakpoint-xl) {
        .content-wrapper {
            width: 80% !important;
        }
        .header-slot-wrapper {
            width: 90%!important;
        }
    }
    @media (max-width: $breakpoint-lg) {
        .content-wrapper {
            width: 70.5vw !important;
        }
        .header-slot-wrapper {
            width: 63vw !important;
        }
    }
    @media (max-width: $breakpoint-md) {

        .layout-container {
            flex-direction: column !important;
        }

        .sidebar-wrapper,
        .content-wrapper {
            width: 100% !important;
        }

        .content-wrapper {
            margin-top: 1.5rem !important;
        }

        .breadcrumbs-wrapper {
            flex: 1 1 100% !important;
            margin-bottom: 0.75rem !important;
        }

        .header-slot-wrapper {
            width: 75.5vw !important;
        }
    }

    @media (max-width: $breakpoint-sm) {
        .sidebar-wrapper {
            margin-bottom: 1rem !important;
        }

        .header-slot-wrapper {
            width: 65.5vw !important;
        }
    }
}