.container-prais {
    header {
        color: $textWhite !important;
    }

    .layout-container {
        display: flex !important;
        flex-wrap: wrap !important;
        max-width: 1400px !important;
        margin: 0 auto !important;
    }

    .sidebar-wrapper {
        transition: all 0.3s ease !important;
    }

    .content-wrapper {
        padding-left: 1.5rem !important;
        transition: all 0.3s ease !important;
        width: 79% !important;
        
        &.full-width {
            width: 100% !important;
            padding-left: 0 !important;
        }
    }

    .header-container {
        display: flex !important;
        flex-wrap: wrap !important;
        margin-bottom: 1rem !important;
    }

    .breadcrumbs-wrapper {
        flex: 1 1 80% !important;
    }

    // .account-controls-container {
    //     position: absolute !important;
    //     top: 15px !important;
    //     right: 15px !important;
    // }

    .info-location-wrapper {
        width: 100% !important;
        margin-top: 1rem !important;
        display: flex !important;
        justify-content: flex-end !important;
    }

    .header-slot-wrapper {
        width: 100% !important;
        margin-top: 1rem !important;
    }

    @media (max-width: $breakpoint-md) {

        .layout-container {
            flex-direction: column !important;
        }

        .sidebar-wrapper,
        .content-wrapper {
            width: 100% !important;
        }

        .content-wrapper {
            margin-top: 1.5rem !important;
        }

        .breadcrumbs-wrapper {
            flex: 1 1 100% !important;
            margin-bottom: 0.75rem !important;
        }

        .account-controls-container {
            flex: 0 0 100% !important;
            justify-content: center !important;
        }
    }

    @media (max-width: $breakpoint-sm) {
        .sidebar-wrapper {
            margin-bottom: 1rem !important;
        }

        header {
            margin-top: 3rem !important;
        }
    }
}