$backgroundColor: #282827;
$gradient: linear-gradient(180deg, #F8DFA8 0%, #EC9F4F 50%);
$textWhite: #ffffff;
$textBlack: #161311;
$textError: #ff6464;
$backgroundComponent: #161311;
$backgroundContent: #ffffff;
$buttonColor: #EC9F4F;
$borderColor: #F8DFA8;