$backgroundColor: #282827;
$gradient: linear-gradient(180deg, #F8DFA8 0%, #EC9F4F 50%);
$textWhite: #ffffff;
$textBlack: #161311;
$bacgroundComponent: #161311;
$bacgroundContent: #ffffff;
$buttonColor: #EC9F4F;
$borderColor: #F8DFA8;