.accountControls {
    font-size: 20px !important;

    .dropdown-menu.show {
        min-width: 200px !important;
        border-radius: 1rem !important;
        border: 2px solid $textBlack !important;
        padding: 10px !important;
        a {
            font-size: 13px !important;
            color: $textBlack !important;
            text-decoration: none !important;
        }
    }
    
    @include respond-to('tablet') {
        font-size: 18px !important;
        
        .dropdown-menu.show {
            min-width: 180px !important;
            
            a {
                font-size: 12px !important;
            }
        }
    }
    
    @include respond-to('mobile') {
        font-size: 16px !important;
        display: flex;
        justify-content: flex-end;
        
        .dropdown-menu.show {
            min-width: 160px !important;
            position: absolute !important;
            right: 10px !important;
            left: auto !important;
            
            a {
                font-size: 11px !important;
            }
        }
        
        .col-6 {
            width: auto !important;
            padding: 0 5px !important;
        }
    }
}