.accountControls {
    font-size: 1.75rem !important;

    .dropdown-menu.show {
        min-width: 20rem !important;
        border-radius: 1rem !important;
        border: 2px solid $textBlack !important;
        padding: 10px !important;
        a {
            font-size: 1rem !important;
            color: $textBlack !important;
            text-decoration: none !important;
        }
    }
    
    .dropstart {
        &.has-unread {
            .notification-wrapper {
                position: relative;
                display: inline-block;
                color: red;
                .notification-badge {
                    position: absolute;
                    top: .5rem;
                    left: .6rem;
                    color: $textWhite;
                    font-size: 1rem !important;
                    font-weight: bold;
                }
            }
        }
    }
    
    @include respond-to('tablet') {
        font-size: 18px !important;
        
        .dropdown-menu.show {
            min-width: 180px !important;
            
            a {
                font-size: 12px !important;
            }
        }
    }
    
    @include respond-to('mobile') {
        font-size: 16px !important;
        display: flex;
        justify-content: flex-end;
        
        .dropdown-menu.show {
            min-width: 160px !important;
            position: absolute !important;
            right: 10px !important;
            left: auto !important;
            
            a {
                font-size: 11px !important;
            }
        }
        
        .col-6 {
            width: auto !important;
            padding: 0 5px !important;
        }
    }
}