.button-stock {
    max-width: 200px !important;
    height: 200px !important;
    background-color: $backgroundComponent !important;
    border: 2.5px solid $borderColor !important;
    border-radius: 10px !important;
    transition: transform 0.3s ease-in-out !important;

    .card-icon {
        position: absolute;
        top: 33px !important;
        left: 64px !important;
        width: 60px !important;
        height: 60px !important;
        background: $gradient !important;
    }

    i {
        font-size: 25px !important;
    }

    .button-text {
        position: absolute !important;
        top: 120px !important;
        left: 25% !important;
        width: 6rem !important;
        font-size: 20px !important;
        color: $textWhite !important;
    }

    @include respond-to('tablet') {
        max-width: 180px !important;
        height: 180px !important;

        .card-icon {
            top: 28px !important;
            left: 58px !important;
            width: 50px !important;
            height: 50px !important;
        }

        i {
            font-size: 22px !important;
        }

        .button-text {
            top: 110px !important;
            font-size: 18px !important;
        }
    }

    @include respond-to('mobile') {
        max-width: 150px !important;
        height: 150px !important;
        margin: 0 auto !important;

        .card-icon {
            top: 20px !important;
            left: 48px !important;
            width: 40px !important;
            height: 40px !important;
        }

        i {
            font-size: 18px !important;
        }

        .button-text {
            top: 90px !important;
            left: 22% !important;
            width: 5rem !important;
            font-size: 16px !important;
        }
    }
}
.button-stock:hover{
    transform: scale(1.1) !important;
}

.form-check{
    padding: 0 !important;
}

.form-check:hover{
    cursor: pointer !important;
}

.prais-radio:has(input:checked){
    color: $buttonColor !important;
}


.prais-switch > input:checked{
    background-color: $buttonColor !important;
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
}

.prais-switch > input{
    cursor: pointer !important;
    margin-left: 0 !important;
    border-color: $buttonColor !important;
    --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e") !important;
}

.prais-switch > input:focus{
    box-shadow: 0 0 0 0.25rem rgba(236, 159, 79, 0.25) !important;
}