.button-stock {
    max-width: 200px !important;
    height: 200px !important;
    background-color: $backgroundComponent !important;
    border: 2.5px solid $borderColor !important;
    border-radius: 10px !important;
    transition: transform 0.3s ease-in-out !important;

    .card-icon {
        position: absolute;
        top: 33px !important;
        left: 64px !important;
        width: 60px !important;
        height: 60px !important;
        background: $gradient !important;
    }

    i {
        font-size: 25px !important;
    }

    .button-text {
        position: absolute !important;
        top: 120px !important;
        left: 25% !important;
        width: 6rem !important;
        font-size: 20px !important;
        color: $textWhite !important;
    }
}
.button-stock:hover{
    transform: scale(1.1) !important;
}

.form-check:has(input:checked){
    color: $buttonColor !important;
}