.inputContainer {
    label {
        top: 10px !important;
        left: 10px !important;
        transition: all 0.2s ease-in-out !important;
    }

    .focus+label {
        top: -5px !important;
        left: 0 !important;
        font-size: 12px !important;
        color: $textBlack !important;
    }

    input {
        width: 100%;
        padding: 10px;
        border-radius: 0.3rem !important;
        border: 2px solid $textBlack !important;
        box-shadow: 0px 2px 4px 0px $textBlack;
        -webkit-transition: all 0.5s ease;                  
        -moz-transition: all 0.5s ease;                 
        -o-transition: all 0.5s ease;   
        -ms-transition: all 0.5s ease;          
        transition: all 0.5s ease;
    }
    input:focus{
        outline: none !important;
        border-top: 0 !important;
    }
}