.notifications {
    width: 200px !important;
    margin-bottom: 20px !important;
    position: relative !important;
    background-color: #fff !important;
    padding: 10px !important;
    color: $textBlack !important;
    border-radius: 1rem !important;
    margin-left: 20px !important;
    border: 2px solid $textBlack !important;
    font-size: 10px !important;

    div {
        padding: 7px !important;
    }
}