body {
    background-color: #f0f0f0;
}

.notifications {
    width: 200px;
}

.notifications .notification {
    width: 100%;
    margin-bottom: 20px;
}

.notifications .notification p {
    margin: 0 0 10px 0;
}

.bubble {
    position: relative;
    background-color: #fff;
    padding: 20px;
    color: #222;
    border-radius:  1rem !important;
    margin-left: 20px;
    border: 2px solid $textBlack !important;
    border-top: 0 !important;
    border-bottom: 1px solid $textBlack;
    box-shadow: 0px 2px 4px 0px $textBlack;
}

.bubble:after {
    content: "";
    display: block;
    position: absolute;

    top: 15px;
    margin-left: -35px;

    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;

    
}