.section-prais {
    margin-top: 70px !important;
    background-color: $bacgroundContent !important;
    min-height: 700px !important;
    border-radius: 10px !important;
    border: 1px solid $borderColor !important;

    .over-section {
        width: 85% !important;
        min-height: 120px !important;
        background: $gradient !important;
        top: -4rem !important;
        left: 0 !important;
        right: 0 !important;
        border-radius: 1.2rem !important;
        border: 1px solid $textBlack !important;

        * {
            font-size: 25px !important;
        }
    }

    .section-content-prais {
        width: 85% !important;
        margin-top: 90px !important;
    }
}
.cardboxprais{
    border-radius: 0.3rem !important;
    border: 2px solid $textBlack !important;
    box-shadow: 0px 2px 4px 0px $textBlack;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}