.selectsearch {
  position: relative !important;
  width: 100% !important;

  .vs__dropdown-option:hover,
  .vs__dropdown-option--selected,
  .vs__dropdown-option--highlight {
    background: $gradient !important;
    color: $textBlack !important;
  }

  .v-select:not(.vs--open) .vs__selected+.vs__search {
    width: 0;
    padding: 0;
    margin: 0;
    border: none;
    height: 0;
  }

  .vs__selected-options {
    width: 0;
  }

  .v-select {
    border-radius: 0.3rem !important;
    border: 2px solid $textBlack !important;
    box-shadow: 0px 2px 4px 0px $textBlack !important;
    height: 40px !important;
  }

  .vs__dropdown-toggle {
    height: 100% !important;
  }

  .vs__selected {
    display: block !important;
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    max-width: 100% !important;
    overflow: hidden !important;
  }

  label {
    top: 6px !important;
    left: 10px !important;
    z-index: 1 !important;
    transition: all 0.2s ease-in-out !important;
  }

  .focus+label {
    top: -17.5px !important;
    left: 3px !important;
    font-size: 13px !important;
    color: $textBlack !important;
  }
}