.sidebar-card{
    background-color:$backgroundComponent !important;
    width: 250px; 
    height: 100%;
    padding:25px; 
    border-radius:20px; 
    border: 3px solid #F8DFA8 !important;

    img {
        width: 80px; 
        height: 80px;
    }
}