.sidebar-card {
    background-color: $backgroundComponent !important;
    width: 250px; 
    height: 100%;
    max-height: 95vh;
    padding: 25px; 
    border-radius: 20px; 
    border: 3px solid #F8DFA8 !important;
    transition: all 0.5s ease-in-out;
    padding-bottom: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: $borderColor transparent;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $borderColor;
        border-radius: 10px;
        border: 2px solid transparent;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: darken($borderColor, 10%);
    }

    &.no-scroll {
        overflow-y: hidden;
    }
    img {
        width: 80px; 
        height: 80px;
    }
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1030;
    display: none;

    &.active {
        display: block;
    }
}

.mobile-menu-toggle {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 1050;
    display: none;

    button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: $breakpoint-lg) {
    .sidebar-card {
        width: 220px;
        padding: 22px;
        
        img {
            width: 70px;
            height: 70px;
        }
    }
}

@media (max-width: $breakpoint-md) {
    .mobile-menu-toggle {
        left: 15px;
        transition: all 0.5s ease-in-out;
        display: block;
    }

    .toggle-open {
        left: 225px;
    }

    .sidebar-card {
        position: fixed;
        top: 0;
        left: -225px;
        z-index: 1040;
        overflow-y: auto;
        
        img {
            width: 60px;
            height: 60px;
        }
        
        &.sidebar-mobile-open {
            left: 0;
            box-shadow: 4px 0 10px rgba(0,0,0,0.2);
        }
    }
    
    .sidebar-overlay.active {
        display: block;
    }
}

@media (max-width: $breakpoint-sm) {
    .mobile-menu-toggle {
        transition: all 0.1s ease-in-out;
    }
    .sidebar-card {
        max-width: 220px;
        padding: 15px;
        left: -225px;
        
        img {
            width: 50px;
            height: 50px;
        }
    }
}