.table-prais {
    width: 85% !important;
    table {
        text-align: center !important;
        tr{
            border-color: $textBlack !important;
        }
    }

    .page-link {
        color: $textBlack !important;
    }

    .active {
        button {
            color: $textBlack !important;
            background: $gradient !important;
        }
    }
}